<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:mk="http://typo3.org/ns/MARKKOM/T2content/ViewHelpers">

<f:layout name="Content" />

    <f:section name="Configuration">

        <flux:form id="teufelsCptCntBsPanels"
               label="TYPO3 :: Bootstrap :: Panels"
               options="{group: 'teufels', icon: '{f:uri.resource(path: \'Icons/icon-teufels-64x64-in-use.png\')}'}">



            <flux:form.sheet name="smartphone" label="Smartphone" description="Test long" shortDescription="Test short">
                <flux:field.custom name="customXs">
                    <div class="l">
                        <img src="{v:extension.path.resources(path: 'Icons/col-xs.png')}"/>
                    </div>
                </flux:field.custom>
                <flux:field.select name="col-xs" label="Width of columns on smartphone" default="col-xs-12"
                                   items="{
                           0:{0:'Both columns 100%',1:'col-xs-12'},
                           1:{0:'Both columns 50%',1:'col-xs-6'}
                           }"
                />
                <flux:field.select name="visibility-xs" label="Visibility on smartphone" default=""
                                   items="{
                           0:{0:'--',1:''},
                           1:{0:'Show on Smartphone',1:'visible-xs'},
                           2:{0:'Hide on Smartphone',1:'hidden-xs'}
                           }"
                />
            </flux:form.sheet>
            <flux:form.sheet name="tablet" label="Tablet" description="Test long" shortDescription="Test short">
                <flux:field.custom name="customSm">
                    <div class="l">
                        <img src="{v:extension.path.resources(path: 'Icons/col-sm.png')}"/>
                    </div>
                </flux:field.custom>
                <flux:field.checkbox name="offset-sm" label="Use Offset on tablet" default="NULL" requestUpdate="1"/>
                <f:if condition="{offset-sm}">
                    <f:then>
                        <flux:field.select name="col-sm" label="Width of columns on tablet" default="" requestUpdate="1"
                                           items="{
                                   0:{0:'--',1:''},
                                   1:{0:'Both columns 50%',1:'col-sm-5'},
                                   2:{0:'First Column 1/10',1:'col-sm-1'}
                                   3:{0:'First Column 2/10',1:'col-sm-2'}
                                   4:{0:'First Column 3/10',1:'col-sm-3'}
                                   5:{0:'First Column 4/10',1:'col-sm-4'}
                                   6:{0:'First Column 6/10',1:'col-sm-6'}
                                   7:{0:'First Column 7/10',1:'col-sm-7'}
                                   8:{0:'First Column 8/10',1:'col-sm-8'}
                                   9:{0:'First Column 9/10',1:'col-sm-9'}

                                   }"
                        />
                    </f:then>
                    <f:else>
                        <flux:field.select name="col-sm" label="Width of columns on tablet" default="" requestUpdate="1"
                                           items="{
                           0:{0:'--',1:''},
                           1:{0:'Both columns 100%',1:'col-sm-12'},
                           2:{0:'Both columns 50%',1:'col-sm-6'},
                           3:{0:'First Column 1/12',1:'col-sm-1'}
                           4:{0:'First Column 2/12',1:'col-sm-2'}
                           5:{0:'First Column 3/12',1:'col-sm-3'}
                           6:{0:'First Column 4/12',1:'col-sm-4'}
                           7:{0:'First Column 5/12',1:'col-sm-5'}
                           8:{0:'First Column 7/12',1:'col-sm-7'}
                           9:{0:'First Column 8/12',1:'col-sm-8'}
                           10:{0:'First Column 9/12',1:'col-sm-9'}
                           11:{0:'First Column 10/12',1:'col-sm-10'}
                           12:{0:'First Column 11/12',1:'col-sm-11'}
                           }"
                        />
                    </f:else>
                </f:if>
                <flux:field.custom name="col-sm2">
                    Second Column:
                    <f:if condition="{offset-sm}">
                        <f:then>
                            <f:switch expression="{col-sm}">
                                <f:case value="col-sm-1">9/10<v:variable.set name="col-sm2-class" value="col-sm-9" /></f:case>
                                <f:case value="col-sm-2">8/10<v:variable.set name="col-sm2-class" value="col-sm-8" /></f:case>
                                <f:case value="col-sm-3">7/10<v:variable.set name="col-sm2-class" value="col-sm-7" /></f:case>
                                <f:case value="col-sm-4">6/10<v:variable.set name="col-sm2-class" value="col-sm-6" /></f:case>
                                <f:case value="col-sm-5">50%<v:variable.set name="col-sm2-class" value="col-sm-5" /></f:case>
                                <f:case value="col-sm-6">4/10<v:variable.set name="col-sm2-class" value="col-sm-4" /></f:case>
                                <f:case value="col-sm-7">3/10<v:variable.set name="col-sm2-class" value="col-sm-3" /></f:case>
                                <f:case value="col-sm-8">2/10<v:variable.set name="col-sm2-class" value="col-sm-2" /></f:case>
                                <f:case value="col-sm-9">1/10<v:variable.set name="col-sm2-class" value="col-sm-1" /></f:case>
                                <f:case value="">--</f:case>
                            </f:switch>
                        </f:then>
                        <f:else>
                            <f:switch expression="{col-sm}">
                                <f:case value="col-sm-1">11/12<v:variable.set name="col-sm2-class" value="col-sm-11" /></f:case>
                                <f:case value="col-sm-2">10/12<v:variable.set name="col-sm2-class" value="col-sm-10" /></f:case>
                                <f:case value="col-sm-3">9/12<v:variable.set name="col-sm2-class" value="col-sm-9" /></f:case>
                                <f:case value="col-sm-4">8/12<v:variable.set name="col-sm2-class" value="col-sm-8" /></f:case>
                                <f:case value="col-sm-5">7/12<v:variable.set name="col-sm2-class" value="col-sm-7" /></f:case>
                                <f:case value="col-sm-6">50%<v:variable.set name="col-sm2-class" value="col-sm-6" /></f:case>
                                <f:case value="col-sm-7">5/12<v:variable.set name="col-sm2-class" value="col-sm-5" /></f:case>
                                <f:case value="col-sm-8">4/12<v:variable.set name="col-sm2-class" value="col-sm-4" /></f:case>
                                <f:case value="col-sm-9">3/12<v:variable.set name="col-sm2-class" value="col-sm-3" /></f:case>
                                <f:case value="col-sm-10">2/12<v:variable.set name="col-sm2-class" value="col-sm-2" /></f:case>
                                <f:case value="col-sm-11">1/12<v:variable.set name="col-sm2-class" value="col-sm-1" /></f:case>
                                <f:case value="col-sm-12">100%<v:variable.set name="col-sm2-class" value="col-sm-12" /></f:case>
                                <f:case value="">--</f:case>
                            </f:switch>
                        </f:else>
                    </f:if>

                </flux:field.custom>
                <flux:field.select name="visibility-sm" label="Visibility on tablet" default=""
                                   items="{
                           0:{0:'--',1:''},
                           1:{0:'Show on tablet',1:'visible-sm'},
                           2:{0:'Hide on tablet',1:'hidden-sm'}
                           }"
                />

            </flux:form.sheet>
            <flux:form.sheet name="desktop" label="Desktop" description="Test long" shortDescription="Test short">
                <flux:field.custom name="customMd">
                    <div class="l">
                        <img src="{v:extension.path.resources(path: 'Icons/col-md.png')}"/>
                    </div>
                </flux:field.custom>
                <flux:field.checkbox name="offset-md" label="Use Offset on desktop" default="NULL" requestUpdate="1"/>
                <f:if condition="{offset-md}">
                    <f:then>
                        <flux:field.select name="col-md" label="Width of columns on desktop" default="" requestUpdate="1"
                                           items="{
                                   0:{0:'--',1:''},
                                   1:{0:'Both columns 50%',1:'col-md-5'},
                                   2:{0:'First Column 1/10',1:'col-md-1'}
                                   3:{0:'First Column 2/10',1:'col-md-2'}
                                   4:{0:'First Column 3/10',1:'col-md-3'}
                                   5:{0:'First Column 4/10',1:'col-md-4'}
                                   6:{0:'First Column 6/10',1:'col-md-6'}
                                   7:{0:'First Column 7/10',1:'col-md-7'}
                                   8:{0:'First Column 8/10',1:'col-md-8'}
                                   9:{0:'First Column 9/10',1:'col-md-9'}

                                   }"
                        />
                    </f:then>
                    <f:else>
                        <flux:field.select name="col-md" label="Width of columns on desktop" default="" requestUpdate="1"
                                           items="{
                           0:{0:'--',1:''},
                           1:{0:'Both columns 50%',1:'col-md-6'},
                           2:{0:'First Column 1/12',1:'col-md-1'}
                           3:{0:'First Column 2/12',1:'col-md-2'}
                           4:{0:'First Column 3/12',1:'col-md-3'}
                           5:{0:'First Column 4/12',1:'col-md-4'}
                           6:{0:'First Column 5/12',1:'col-md-5'}
                           7:{0:'First Column 7/12',1:'col-md-7'}
                           8:{0:'First Column 8/12',1:'col-md-8'}
                           9:{0:'First Column 9/12',1:'col-md-9'}
                           10:{0:'First Column 10/12',1:'col-md-10'}
                           11:{0:'First Column 11/12',1:'col-md-11'}
                           }"
                        />
                    </f:else>
                </f:if>
                <flux:field.custom name="col-md2">
                    Second Column:
                    <f:if condition="{offset-md}">
                        <f:then>
                            <f:switch expression="{col-md}">
                                <f:case value="col-md-1">9/10<v:variable.set name="col-md2-class" value="col-md-9" /></f:case>
                                <f:case value="col-md-2">8/10<v:variable.set name="col-md2-class" value="col-md-8" /></f:case>
                                <f:case value="col-md-3"> 7/10<v:variable.set name="col-md2-class" value="col-md-7" /></f:case>
                                <f:case value="col-md-4"> 6/10<v:variable.set name="col-md2-class" value="col-md-6" /></f:case>
                                <f:case value="col-md-5">50%<v:variable.set name="col-md2-class" value="col-md-5" /></f:case>
                                <f:case value="col-md-6">4/10<v:variable.set name="col-md2-class" value="col-md-4" /></f:case>
                                <f:case value="col-md-7">3/10<v:variable.set name="col-md2-class" value="col-md-3" /></f:case>
                                <f:case value="col-md-8">2/10<v:variable.set name="col-md2-class" value="col-md-2" /></f:case>
                                <f:case value="col-md-9">1/10<v:variable.set name="col-md2-class" value="col-md-1" /></f:case>
                                <f:case value="">--</f:case>
                            </f:switch>
                        </f:then>
                        <f:else>
                            <f:switch expression="{col-md}">
                                <f:case value="col-md-1">11/12<v:variable.set name="col-md2-class" value="col-md-11" /></f:case>
                                <f:case value="col-md-2">10/12<v:variable.set name="col-md2-class" value="col-md-10" /></f:case>
                                <f:case value="col-md-3">9/12<v:variable.set name="col-md2-class" value="col-md-9" /></f:case>
                                <f:case value="col-md-4">8/12<v:variable.set name="col-md2-class" value="col-md-8" /></f:case>
                                <f:case value="col-md-5">7/12<v:variable.set name="col-md2-class" value="col-md-7" /></f:case>
                                <f:case value="col-md-6">50%<v:variable.set name="col-md2-class" value="col-md-6" /></f:case>
                                <f:case value="col-md-7">5/12<v:variable.set name="col-md2-class" value="col-md-5" /></f:case>
                                <f:case value="col-md-8">4/12<v:variable.set name="col-md2-class" value="col-md-4" /></f:case>
                                <f:case value="col-md-9">3/12<v:variable.set name="col-md2-class" value="col-md-3" /></f:case>
                                <f:case value="col-md-10">2/12<v:variable.set name="col-md2-class" value="col-md-2" /></f:case>
                                <f:case value="col-md-11">1/12<v:variable.set name="col-md2-class" value="col-md-1" /></f:case>
                                <f:case value="">--</f:case>
                            </f:switch>
                        </f:else>
                    </f:if>

                </flux:field.custom>
                <flux:field.select name="visibility-md" label="Visibility on desktop" default=""
                                   items="{
                           0:{0:'--',1:''},
                           1:{0:'Show on desktop',1:'visible-md'},
                           2:{0:'Hide on desktop',1:'hidden-md'}
                           }"
                />
            </flux:form.sheet>
            <flux:form.sheet name="largedesktop" label="Large desktop" description="Test long" shortDescription="Test short">
                <flux:field.custom name="customLg">
                    <div class="l">
                        <img src="{v:extension.path.resources(path: 'Icons/col-lg.png')}"/>
                    </div>
                </flux:field.custom>
                <flux:field.checkbox name="offset-lg" label="Use Offset on large desktop" default="NULL" requestUpdate="1"/>
                <f:if condition="{offset-lg}">
                    <f:then>
                        <flux:field.select name="col-lg" label="Width of columns on large desktop" default="" requestUpdate="1"
                                           items="{
                                   0:{0:'--',1:''},
                                   1:{0:'Both columns 50%',1:'col-lg-5'},
                                   2:{0:'First Column 1/10',1:'col-lg-1'}
                                   3:{0:'First Column 2/10',1:'col-lg-2'}
                                   4:{0:'First Column 3/10',1:'col-lg-3'}
                                   5:{0:'First Column 4/10',1:'col-lg-4'}
                                   6:{0:'First Column 6/10',1:'col-lg-6'}
                                   7:{0:'First Column 7/10',1:'col-lg-7'}
                                   8:{0:'First Column 8/10',1:'col-lg-8'}
                                   9:{0:'First Column 9/10',1:'col-lg-9'}

                                   }"
                        />
                    </f:then>
                    <f:else>
                        <flux:field.select name="col-lg" label="Width of columns on large desktop" default="" requestUpdate="1"
                                           items="{
                           0:{0:'--',1:''},
                           1:{0:'Both columns 50%',1:'col-lg-6'},
                           2:{0:'First Column 1/12',1:'col-lg-1'}
                           3:{0:'First Column 2/12',1:'col-lg-2'}
                           4:{0:'First Column 3/12',1:'col-lg-3'}
                           5:{0:'First Column 4/12',1:'col-lg-4'}
                           6:{0:'First Column 5/12',1:'col-lg-5'}
                           7:{0:'First Column 7/12',1:'col-lg-7'}
                           8:{0:'First Column 8/12',1:'col-lg-8'}
                           9:{0:'First Column 9/12',1:'col-lg-9'}
                           10:{0:'First Column 10/12',1:'col-lg-10'}
                           11:{0:'First Column 11/12',1:'col-lg-11'}
                           }"
                        />
                    </f:else>
                </f:if>
                <flux:field.custom name="col-lg2">
                    Second Column:
                    <f:if condition="{offset-lg}">
                        <f:then>
                            <f:switch expression="{col-lg}">
                                <f:case value="col-lg-1">9/10<v:variable.set name="col-lg2-class" value="col-lg-9" /></f:case>
                                <f:case value="col-lg-2">8/10<v:variable.set name="col-lg2-class" value="col-lg-8" /></f:case>
                                <f:case value="col-lg-3"> 7/10<v:variable.set name="col-lg2-class" value="col-lg-7" /></f:case>
                                <f:case value="col-lg-4"> 6/10<v:variable.set name="col-lg2-class" value="col-lg-6" /></f:case>
                                <f:case value="col-lg-5">50%<v:variable.set name="col-lg2-class" value="col-lg-5" /></f:case>
                                <f:case value="col-lg-6">4/10<v:variable.set name="col-lg2-class" value="col-lg-4" /></f:case>
                                <f:case value="col-lg-7">3/10<v:variable.set name="col-lg2-class" value="col-lg-3" /></f:case>
                                <f:case value="col-lg-8">2/10<v:variable.set name="col-lg2-class" value="col-lg-2" /></f:case>
                                <f:case value="col-lg-9">1/10<v:variable.set name="col-lg2-class" value="col-lg-1" /></f:case>
                                <f:case value="">--</f:case>
                            </f:switch>
                        </f:then>
                        <f:else>
                            <f:switch expression="{col-lg}">
                                <f:case value="col-lg-1">11/12<v:variable.set name="col-lg2-class" value="col-lg-11" /></f:case>
                                <f:case value="col-lg-2">10/12<v:variable.set name="col-lg2-class" value="col-lg-10" /></f:case>
                                <f:case value="col-lg-3">9/12<v:variable.set name="col-lg2-class" value="col-lg-9" /></f:case>
                                <f:case value="col-lg-4">8/12<v:variable.set name="col-lg2-class" value="col-lg-8" /></f:case>
                                <f:case value="col-lg-5">7/12<v:variable.set name="col-lg2-class" value="col-lg-7" /></f:case>
                                <f:case value="col-lg-6">50%<v:variable.set name="col-lg2-class" value="col-lg-6" /></f:case>
                                <f:case value="col-lg-7">5/12<v:variable.set name="col-lg2-class" value="col-lg-5" /></f:case>
                                <f:case value="col-lg-8">4/12<v:variable.set name="col-lg2-class" value="col-lg-4" /></f:case>
                                <f:case value="col-lg-9">3/12<v:variable.set name="col-lg2-class" value="col-lg-3" /></f:case>
                                <f:case value="col-lg-10">2/12<v:variable.set name="col-lg2-class" value="col-lg-2" /></f:case>
                                <f:case value="col-lg-11">1/12<v:variable.set name="col-lg2-class" value="col-lg-1" /></f:case>
                                <f:case value="">--</f:case>
                            </f:switch>
                        </f:else>
                    </f:if>

                </flux:field.custom>


                <flux:field.select name="visibility-lg" label="Visibility on large desktop" default=""
                                       items="{
                           0:{0:'--',1:''},
                           1:{0:'Show on large desktop',1:'visible-lg'},
                           2:{0:'Hide on large desktop',1:'hidden-lg'}
                           }"
                />

            </flux:form.sheet>
            <flux:form.sheet name="help" label="Help" shortDescription="Help">
            <flux:field.custom name="customHelp">
                <div class="l">
                    <h2>HELP</h2>
                </div>
            </flux:field.custom>
            </flux:form.sheet>


            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column name="col0" label="Left Column <br><code>{col-xs}</code><code>{col-sm}</code><code>{col-md}</code><code>{col-lg}</code>" style="width:50%;" />
                    <flux:grid.column name="col1" label="Right Column <br><code>{col-xs}</code><code>{col-sm2-class}</code><code>{col-md2-class}</code><code>{col-lg2-class}</code>" style="width:50%;" />
                </flux:grid.row>
            </flux:grid>
        </flux:form>
    </f:section>

    <f:section name="Preview">

    </f:section>



    <f:section name="Main">

        <f:if condition="{offset-sm}">
            <f:then>
                <f:switch expression="{col-sm}">
                    <f:case value="col-sm-1"><v:variable.set name="col-sm2-class" value="col-sm-9" /></f:case>
                    <f:case value="col-sm-2"> <v:variable.set name="col-sm2-class" value="col-sm-8" /></f:case>
                    <f:case value="col-sm-3"><v:variable.set name="col-sm2-class" value="col-sm-7" /></f:case>
                    <f:case value="col-sm-4"><v:variable.set name="col-sm2-class" value="col-sm-6" /></f:case>
                    <f:case value="col-sm-5"><v:variable.set name="col-sm2-class" value="col-sm-5" /></f:case>
                    <f:case value="col-sm-6"><v:variable.set name="col-sm2-class" value="col-sm-4" /></f:case>
                    <f:case value="col-sm-7"><v:variable.set name="col-sm2-class" value="col-sm-3" /></f:case>
                    <f:case value="col-sm-8"><v:variable.set name="col-sm2-class" value="col-sm-2" /></f:case>
                    <f:case value="col-sm-9"><v:variable.set name="col-sm2-class" value="col-sm-1" /></f:case>
                </f:switch>
            </f:then>
            <f:else>
                <f:switch expression="{col-sm}">
                    <f:case value="col-sm-1"><v:variable.set name="col-sm2-class" value="col-sm-11" /></f:case>
                    <f:case value="col-sm-2"><v:variable.set name="col-sm2-class" value="col-sm-10" /></f:case>
                    <f:case value="col-sm-3"><v:variable.set name="col-sm2-class" value="col-sm-9" /></f:case>
                    <f:case value="col-sm-4"><v:variable.set name="col-sm2-class" value="col-sm-8" /></f:case>
                    <f:case value="col-sm-5"><v:variable.set name="col-sm2-class" value="col-sm-7" /></f:case>
                    <f:case value="col-sm-6"><v:variable.set name="col-sm2-class" value="col-sm-6" /></f:case>
                    <f:case value="col-sm-7"><v:variable.set name="col-sm2-class" value="col-sm-5" /></f:case>
                    <f:case value="col-sm-8"><v:variable.set name="col-sm2-class" value="col-sm-4" /></f:case>
                    <f:case value="col-sm-9"><v:variable.set name="col-sm2-class" value="col-sm-3" /></f:case>
                    <f:case value="col-sm-10"><v:variable.set name="col-sm2-class" value="col-sm-2" /></f:case>
                    <f:case value="col-sm-11"><v:variable.set name="col-sm2-class" value="col-sm-1" /></f:case>
                    <f:case value="col-sm-12"><v:variable.set name="col-sm2-class" value="col-sm-12" /></f:case>
                </f:switch>
            </f:else>
        </f:if>

        <f:if condition="{offset-md}">
            <f:then>
                <f:switch expression="{col-md}">
                    <f:case value="col-md-1"><v:variable.set name="col-md2-class" value="col-md-9" /></f:case>
                    <f:case value="col-md-2"> <v:variable.set name="col-md2-class" value="col-md-8" /></f:case>
                    <f:case value="col-md-3"><v:variable.set name="col-md2-class" value="col-md-7" /></f:case>
                    <f:case value="col-md-4"><v:variable.set name="col-md2-class" value="col-md-6" /></f:case>
                    <f:case value="col-md-5"><v:variable.set name="col-md2-class" value="col-md-5" /></f:case>
                    <f:case value="col-md-6"><v:variable.set name="col-md2-class" value="col-md-4" /></f:case>
                    <f:case value="col-md-7"><v:variable.set name="col-md2-class" value="col-md-3" /></f:case>
                    <f:case value="col-md-8"><v:variable.set name="col-md2-class" value="col-md-2" /></f:case>
                    <f:case value="col-md-9"><v:variable.set name="col-md2-class" value="col-md-1" /></f:case>
                </f:switch>
            </f:then>
            <f:else>
                <f:switch expression="{col-md}">
                    <f:case value="col-md-1"><v:variable.set name="col-md2-class" value="col-md-11" /></f:case>
                    <f:case value="col-md-2"><v:variable.set name="col-md2-class" value="col-md-10" /></f:case>
                    <f:case value="col-md-3"><v:variable.set name="col-md2-class" value="col-md-9" /></f:case>
                    <f:case value="col-md-4"><v:variable.set name="col-md2-class" value="col-md-8" /></f:case>
                    <f:case value="col-md-5"><v:variable.set name="col-md2-class" value="col-md-7" /></f:case>
                    <f:case value="col-md-6"><v:variable.set name="col-md2-class" value="col-md-6" /></f:case>
                    <f:case value="col-md-7"><v:variable.set name="col-md2-class" value="col-md-5" /></f:case>
                    <f:case value="col-md-8"><v:variable.set name="col-md2-class" value="col-md-4" /></f:case>
                    <f:case value="col-md-9"><v:variable.set name="col-md2-class" value="col-md-3" /></f:case>
                    <f:case value="col-md-10"><v:variable.set name="col-md2-class" value="col-md-2" /></f:case>
                    <f:case value="col-md-11"><v:variable.set name="col-md2-class" value="col-md-1" /></f:case>
                </f:switch>
            </f:else>
        </f:if>

        <f:if condition="{offset-lg}">
            <f:then>
                <f:switch expression="{col-lg}">
                    <f:case value="col-lg-1"><v:variable.set name="col-lg2-class" value="col-lg-9" /></f:case>
                    <f:case value="col-lg-2"> <v:variable.set name="col-lg2-class" value="col-lg-8" /></f:case>
                    <f:case value="col-lg-3"><v:variable.set name="col-lg2-class" value="col-lg-7" /></f:case>
                    <f:case value="col-lg-4"><v:variable.set name="col-lg2-class" value="col-lg-6" /></f:case>
                    <f:case value="col-lg-5"><v:variable.set name="col-lg2-class" value="col-lg-5" /></f:case>
                    <f:case value="col-lg-6"><v:variable.set name="col-lg2-class" value="col-lg-4" /></f:case>
                    <f:case value="col-lg-7"><v:variable.set name="col-lg2-class" value="col-lg-3" /></f:case>
                    <f:case value="col-lg-8"><v:variable.set name="col-lg2-class" value="col-lg-2" /></f:case>
                    <f:case value="col-lg-9"><v:variable.set name="col-lg2-class" value="col-lg-1" /></f:case>
                </f:switch>
            </f:then>
            <f:else>
                <f:switch expression="{col-lg}">
                    <f:case value="col-lg-1"><v:variable.set name="col-lg2-class" value="col-lg-11" /></f:case>
                    <f:case value="col-lg-2"><v:variable.set name="col-lg2-class" value="col-lg-10" /></f:case>
                    <f:case value="col-lg-3"><v:variable.set name="col-lg2-class" value="col-lg-9" /></f:case>
                    <f:case value="col-lg-4"><v:variable.set name="col-lg2-class" value="col-lg-8" /></f:case>
                    <f:case value="col-lg-5"><v:variable.set name="col-lg2-class" value="col-lg-7" /></f:case>
                    <f:case value="col-lg-6"><v:variable.set name="col-lg2-class" value="col-lg-6" /></f:case>
                    <f:case value="col-lg-7"><v:variable.set name="col-lg2-class" value="col-lg-5" /></f:case>
                    <f:case value="col-lg-8"><v:variable.set name="col-lg2-class" value="col-lg-4" /></f:case>
                    <f:case value="col-lg-9"><v:variable.set name="col-lg2-class" value="col-lg-3" /></f:case>
                    <f:case value="col-lg-10"><v:variable.set name="col-lg2-class" value="col-lg-2" /></f:case>
                    <f:case value="col-lg-11"><v:variable.set name="col-lg2-class" value="col-lg-1" /></f:case>
                </f:switch>
            </f:else>
        </f:if>

        <v:variable.set name="classes_col_1" value="{col-xs} {col-sm}{f:if(condition: offset-sm, then: ' col-sm-offset-1', else: '')} {col-md}{f:if(condition: offset-md, then: ' col-md-offset-1', else: '')} {col-lg}{f:if(condition: offset-lg, then: ' col-lg-offset-1', else: '')}" />
        <v:variable.set name="classes_col_2" value="{col-xs} {col-sm2-class} {col-md2-class} {col-lg2-class}" />

        <div class="row {visibility-xs} {visibility-sm} {visibility-md} {visibility-lg}">
            <div class="{classes_col_1}">
                <flux:content.render area="col0" />
            </div>
            <div class="{classes_col_2}">
                <flux:content.render area="col1" />
            </div>
        </div>
    </f:section>

    <f:section name="Classes">

    </f:section>



</div>
